@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

h1, nav, footer {
    font-family: 'Vollkorn', serif;
}

body, h2, h3 {
    font-family: 'Vollkorn', 'Gabriola', sans-serif;
}

h1{
    font-size: 3em;
    line-height: 400%;
}

h2 {
    font-size: 2em;
}

dt {
    font-weight: bold;
}

footer {
    font-size: smaller;
}

#copyright {
    font-family: serif;
    font-style: italic;
}

header, footer {
    background-color: #092399;
    color: #eee;
}

h2, nav > a {
    color: #092399;
}

footer nav > a {
    color: #eee;
}

h2, h3, nav > a {
    text-transform: uppercase;
}

h1, nav, #copyright {
    text-align: center;
}

nav a {
    text-decoration: none;
}

body, h1 {
    margin: 0;
}

#wrapper {
    width: 80%;
    margin: auto;
}

#categories {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

#categories > section img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

#categories > section {
    margin-bottom: 20px;
}

#heroimg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}